<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bands Project</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body class="crear">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">  
          <span class="glyphicon glyphicon-play play-nav" aria-hidden="true"></span>
          <div class="input-group">
  			<input type="text" class="form-control input-nav" placeholder="Busca por bandas o eventos" aria-describedby="basic-addon1">
  			<span class="input-group-addon font" id="basic-addon1">Buscar</span>
		  </div>
        </div>
      </form>
      <form class="navbar-form navbar-right" role="search">
      	<div class="form-group form-navbar">
      		<a class="links-nav" href="#">Crear</a>
      		<a href="#" class="links-nav">Descubre</a>
      		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      	</div>
      </form>
    </div>
  </div>
</nav>

<!-- Este es todo el main -->

<main>
	<div class="container">
		<div class="row">
			<div class="col-md-6 cosas-del-evento-container">
				<h1 class="organiza-tu-evento">Organiza tu evento</h1>
				<h5>Busca a tu artista o banda favorito</h5>
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Artista o banda" aria-describedby="basic-addon2">
				    <span class="input-group-btn">
			        	<button class="btn btn-default btn-crear" type="button">Agregar</button>
      				</span>
				</div>
				<h5 class="margin-top-crear">Agrega el lugar donde quieres que sea el concierto</h5>	
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Estado" aria-describedby="basic-addon2">
				    <span class="input-group-btn">
			        	<button class="btn btn-default btn-crear" type="button">Agregar</button>
      				</span>
				</div>
				<div class="input-group municipio">
				  <input type="text" class="form-control" placeholder="Municipio o delegacion (Dejar vacio para buscar en todo el estado)" aria-describedby="basic-addon2">
			      <span class="input-group-btn">
			        <button class="btn btn-default btn-crear" type="button">Agregar</button>
			      </span>
				</div>
				<h5 class="margin-top-crear">Busca un Venue</h5>
				<div class="venues-container">
				<div class="row container-thumbnails-venues">
				  <div class="col-sm-4 col-md-4">
				    <div class="thumbnail venues-thumbnail">
				      	<img class="image-thumbnail" src="../img/forosol.jpg" alt="Foro Sol">
				      <div class="caption">
				        <p class="ellipsis nombre-venue">Foro Sol</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-4 col-md-4">
				    <div class="thumbnail venues-thumbnail">
				      	<img class="image-thumbnail" src="../img/palacion.jpg" alt="Foro Sol">
				      <div class="caption">
				        <p class="ellipsis nombre-venue">Palacio de los Deportes</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-4 col-md-4">
				    <div class="thumbnail venues-thumbnail">
				      	<img class="image-thumbnail" src="../img/auditorio.jpg" alt="Foro Sol">
				      <div class="caption">
				        <p class="nombre-venue ellipsis">Auditorio Nacional</p>
				      </div>
				    </div>
				  </div>
				</div>
				</div>
				<h5 class="fechas-disponibles">Fechas Disponibles para el Foro Sol</h5>
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Fechas disponibles" aria-describedby="basic-addon2">
				    <span class="input-group-btn">
			        	<button class="btn btn-default btn-crear" type="button">Reservar</button>
      				</span>
				</div>
			</div>
			<div class="col-md-6 vista-previa-container">
				<div class="image-container-vista-previa">
					<img class="img-vista-previa" src="../img/ptv.jpg">
				</div>
				<div class="nombre-banda-previa">
					<h1>Pierce The Veil</h1>
				</div>
				<div class="container-fecha-previa">
					<h5 class="ano-fecha-evento">del 2016</h5>
					<h1 class="dia-mes-fecha">23</h1>
					<h3 class="dia-mes-fecha">Julio</h3>
				</div>
				<div class="row">
					<div class="col-md-6 circulo-personas-necesarias">
						<h1 id="precio" class="precio">$500</h1>
						<h4 id="por-persona" class="por-persona">Por 4000 personas</h4>
					</div>
					<div class="col-md-7">
						<h5 class="text-necesitas">Necesitas a 4000 personas que quieran ver a Pierce the Veil en el foro solo para que este evento se pueda realizar.</h5>
						<span class="terminos palomita-aceptar glyphicon glyphicon-ok"></span>
						<h5 class="terminos"> Acepto los terminos y condiciones</h5>
						<button type="button" id="btn-crear-evento" class="btn btn-default btn-crear-evento" data-toggle="modal" data-target="#Modal-Condiciones">Crear Evento</button>
						<!-- Modal -->
						<div class="modal fade" id="Modal-Condiciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title nombre-modal-crear-evento" id="myModalLabel">Terminos de Crear un Evento</h4>
						      </div>
						      <div class="modal-body">
						      	  <p class="terminos-modal">1.- Al admitir las condiciones y al crear el evento , estas aceptando que si el artista confirma el evento se cobrara a tu tarjeta.</p>
						      	  <p class="terminos-modal">2.- Trata de compartir y juntar la gente necesaria por que solo puedes tener un mes para juntar la gente</p>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Declinar</button>
						        <button type="button" class="btn btn-default" data-dismiss="modal">Crear el Evento</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
					<div class="sombre-container-vista"></div>
					<div class="container-vista-previa-necesarias">
					</div>
				</div>
			</div>		
		</div>
	</div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src='../js/script.js'></script>
</body>
</html>